force-app/main/default/flows/Assign_permission_sets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_permission_set_name</name>
        <label>Assign permission set name</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_permission_set_name_as_consultant</name>
        <label>Assign permission set name as consultant</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_permission_set_exist</name>
        <label>Does permission set exist</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_set.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_permission_set_assignments</targetReference>
            </connector>
            <label>It exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_that</name>
        <label>Who is that</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_a_manager</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_permission_set_name</targetReference>
            </connector>
            <label>It is a manager or CEO</label>
        </rules>
        <rules>
            <name>It_is_a_consultant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_permission_set_name_as_consultant</targetReference>
            </connector>
            <label>It is a consultant</label>
        </rules>
    </decisions>
    <interviewLabel>Assign permission sets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign permission sets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_permission_set_assignments</name>
        <label>Creating permission set assignments</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Permission_set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Permission_set</name>
        <label>Permission set</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_permission_set_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Who_is_that</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PermissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
